.input_container {
  @apply relative w-full;
}

.input_label {
  @apply text-zinc-400 font-body font-medium text-sm;
}

.input {
  @apply w-full px-3 py-2 mt-1 border-2 border-zinc-700 rounded bg-zinc-800 
  text-white;
}

.text_area_resize_none {
  @apply resize-none h-36;
}

.text_area_resize_large, .text_area_resize_infinite {
  @apply resize-y;

  min-height: 44px;
  height: 144px;
  max-height: 32vh;
}

.text_area_resize_infinite {
  max-height: none;
}

